@font-face {
    font-family: Brasika;
    src: url("../../font/brasika.otf");
}
.fundo-roxo {
    background: #5B009B;
    width: 100vw;
    height: 100vh;
}

.caixa {
    position: fixed;
    background-color: #FFFFFF;
    width: calc(100vw - 150px - 50px);
    height: calc(100vh - 30px);
    margin-left: calc(150px + 25px);
    margin-top: 15px;
    border-radius: 20px;
    overflow-y: auto;
}

.caixa-center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.icon-roxo {
    color: #5B009B;
    width: 35px;
    height: 35px;
    display: block;
}

.btn-a {
    display: inline-block;
}

.btn-main {
    display: flex;
    flex-direction: row;
    transition: .2s;
    margin: 20px;
}

.btn-main:hover {
    transform: scale(1.05);
    transition: .2s;
}

.btn-icon {
    background-color: #91CD93;
    border-radius: 100%;
    height: fit-content;
    padding: 5px;
    border: 4px solid #A5D6A7;
}

.btn-body {
    background-color: rgba(145, 205, 147, .5);
    color: #5B009B;
    border-radius: 0 50px 50px 0;
    padding-left: 30px;
    margin-left: -20px;
    margin-top: 4px;
    padding-right: 20px;
    height: 45px;
    z-index: -1;
}

.btn-body-w300 {
    width: 300px;
}

.btn-body p {
    margin: 13px 0;
    font-weight: bold;
    font-family: "Andada Pro", serif;
    font-size: 1em;
    letter-spacing: 1px;
}

.btn-form {
    padding: 10px 50px;
    background-color: #5B009B;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 0 0 auto;
    display: block;
    transition: .2s;
}

.btn-form:hover {
    background-color: #A5D6A7;
    transform: scale(1.05);
    transition: .2s;
}

.btn-sec {
    background-color: #91CD93;
    margin: 0 0 10px auto;
}

.titulo-main {
    font-family: Brasika;
    color: #5B009B;
}

.form-prova {
 
}

.inp {
    display: flex;
    flex-direction: column;
    font-family: "Andada Pro", serif;
    margin: 20px 0;
}

.inp-linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inp input, textarea {
    padding: 10px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    outline: none;
    width: 500px;
}

.inp-row {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 450px;
}

.inp-linha input {
    width: 230px;
}
