body {
    margin: 0;
}

header {
    position: fixed;
    height: 100vh;
    width: 150px;
    background-color: #5B009B;
}

.logo {
    width: 130px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

a, a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, .5);
}

nav {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.item-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-left: 22px;
    margin-bottom: 20px;
}

.item-nav:hover .icon, .item-nav:hover{
    fill: #91CD93;
    color: #91CD93;
}

.item-active::before {
    content: '';
    width: 8px;
    height: 38px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #91CD93;
}

.item-active .icon {
    fill: #91CD93;
}

.item-active {
    color: #91CD93 !important;
    padding-left: 0;
}

.icon {
    width: 24px;
    height: 24px;
    fill: rgba(255, 255, 255, .5);
}